/* Touch target class */
.touch-target-center,
.touch-target {
	display: inline-flex;
	align-items: center;
	flex-wrap: wrap;

	min-height: 3rem;
	min-width: 3rem;
}

.touch-target-center {
	justify-content: center;
}
