/* Touch target class */
.touch-target-center,
.touch-target {
	display: inline-flex;
	align-items: center;
	flex-wrap: wrap;

	min-height: var(--TOUCH-TARGET-MIN-SIZE, 48px);
	min-width: var(--touch-target-min-width, var(--TOUCH-TARGET-MIN-SIZE, 48px));
}

.touch-target-center {
	justify-content: center;
}
