/* _ to build typographic style on.
 * Browser normalizer (no ie) and intuitive defaults, narrow viewports first. */

*, ::before, ::after {
  /* Don't repeat background images by default. */
  background-repeat: no-repeat;
	/* Border-box is expected. */
	box-sizing: border-box;
}

/* `::before`/`::after` inheriting border-radius is intuitive. */
::before, ::after { border-radius: inherit; }

:root {
	/* Line-height for readability on any viewport width. */
	line-height: calc(1 + var(--added-lead, .6));
	/* [Consistent line-spacing for inline, different line-heights](//drafts.csswg.org/css-inline-3/#line-sizing-property). */
	line-sizing: normal;
	/* Auto hyphenate words for narrow viewports. */
	hyphens: auto;
	/* Break words for no x-axis scrolling (use this, not `word-break`). */
	overflow-wrap: break-word;
	/* Prevent adjustment of font-size after Ios orientation change. */
	-webkit-text-size-adjust: 100%;
}


/* FIX DISPLAY. */

/* `[hidden]` maintain behaviour when overriding `display` values. */
/* `audio` with no controls should not display. */
/* `source` has nothing to display and should not display. */
[hidden], audio:not([controls]), source { display:none; }

/* Remove unnecessary wrapping `picture`, while maintaining content. */
picture { display: contents; }


/* FLOOR TYPOGRAPHY. */

/* `bolder` font weight (Chrome/Edge/Safari). */
strong { font-weight: bolder; }

hr {
	/* `background-image` so size can be set. */
	background-image: linear-gradient(currentColor, currentColor);
	/* `background-size` to 1px height and 100% width. */
	background-size: 100% 1px;
	/* Remove border to not affect vertical rhythm. */
	border: none;
	/* Remove Firefox `color: gray`. */
	color: inherit;
	/* Correct box sizing (Firefox). */
	height: calc(.1 * var(--spacer, 1rem));
	/* Double block spacing, remove margin-inline `auto` (to not be centered by default). */
	margin: calc(2 * var(--spacer, 1rem)) 0 calc(1.9 * var(--spacer, 1rem));
}

/* Correct the font size for `:is(article,section) h1` elements (Chrome/Firefox/Safari). */
h1 { font-size: 2em; }

/* Correct/give 'block' flow elements consistent block margin. */
address, datalist, details, fieldset, pre, table,
canvas, embed, figure, iframe, object, video,
dl, ol, ul,
h1, h2, h3, h4, h5, h6,
blockquote, p {
	margin-block-start: var(--spacer, 1rem);
	margin-block-end: var(--spacer, 1rem);
}

/* Remove block margin for children that shouldn't disrupt vertical flow. */
ol ol, ol ul, ul ol, ul ul {
	margin-block-start: 0;
	margin-block-end: 0;
}


/* MEDIA ELEMENTS. */

img, svg, video, canvas, audio, iframe, embed, object {
	/* Remove space-below in case authors overwrite the display value. */
	vertical-align: middle;
	/* Responsive by default. */
	max-width: 100%;
}

/* Responsive by default. */
img, svg, video, canvas { height: auto; }

/* No inline margin -- horizontal align with adjacent. */
figure { margin-inline-start: 0; margin-inline-end: 0; }


/* MONO-FONT ELEMENTS. */

pre, code, kbd, samp {
	/* Hack to fix the inheritance and scaling of font-size for preformatted text. */
	font-family: var(--mono-font, monospace), var(--mono-font, monospace);
	/* Equal font-size for all browsers. */
	font-size: 1em;
}

/* Wrap by default. */
pre { white-space: pre-wrap; }


/* INTERACTION. */

/* Some intuitive consistency for clickable elements. */
button, summary { cursor: pointer; }
