/* IMPROVE DISPLAY VALUES */

/* `[hidden]` maintain behaviour when overriding `display` values. */
/* `audio` with no controls should not display. */
/* `source` has nothing to display and should not display. */
[hidden], audio:not([controls]), source { display:none; }

/* Remove unnecessary wrapping `picture`, while maintaining content. */
picture { display: contents; }

/* MAINTAIN VERTICAL RHYTHM */

:root {
	/* [Consistent line-spacing for inline, different line-heights](//drafts.csswg.org/css-inline-3/#line-sizing-property). */
	line-sizing: normal;
	/* Prevent adjustment of font-size after Ios orientation change. */
	-webkit-text-size-adjust: 100%;
}

/* Prevent `<sub>`/`<sup>` from affecting line height. */
sub, sup { line-height: 0; }

/* Normalize inline mono-font size for all browsers. */
pre, code, kbd, samp { font-size: 1em; }

/* FIX SEMANTIC STYLING */

/* Always `bolder` font weight for `strong` text (Chrome/Edge/Safari). */
strong { font-weight: bolder; }

/* EXTEND */

/* Fix font inheritance for preformatted text and add optional font-family variable. */
pre, code, kbd, samp { --_f: var(--mono-font, monospace); font-family: var(--_f),var(--_f); }

/* Mouse interaction consistency for clickable elements for usability. */
button, summary { cursor: pointer; }

/* DX FOR STYLING */

*, ::before, ::after {
	/* Background images are not repeated. */
	background-repeat: no-repeat;
}

/* `::before`/`::after` inherits border-radius. */
::before, ::after { border-radius: inherit; }

/* No inline margin -- horizontal align with adjacent. */
figure { margin-inline-start: 0; margin-inline-end: 0; }
