/* Consistent block margin for the needed block-level elements. */
:where(
	h1, h2, h3, h4, h5, h6,
	address, datalist, details, fieldset, pre, table,
	canvas, embed, figure, iframe, object, video,
	dl, ol, ul,
	blockquote, p
) {
	/* No margin top so grid can be used without doubling margins. */
	margin-block-start: 0;
	/* Block margin end gives natural flow with space for any next element. */
	margin-block-end: var(--space, 1rem);
}

/* Remove block margin for children that shouldn't disrupt vertical flow. */
:where(ol, ul) :where(ol, ul) {
	margin-block-end: 0;
}

/* Style `hr` with `--space` to match rhythm. */
hr {
	/* Remove border to not affect vertical rhythm. */
	border: none;
	/* Use box-shadow as border to not disrupt vertical rhythm */
	box-shadow: 0 -1px;
	/* Remove Firefox `color: gray`. */
	color: inherit;
	/* Normalize box sizing (Firefox). */
	height: var(--hr-space, var(--space, 1rem));
	/* Spacing, remove margin-inline `auto` (to not be centered by default). */
	margin: 0;
}
