input {
	/* Resets and restyle */
	border: none;
	font-family: inherit;
	font-size: inherit;
	height: unset;
	max-width: 100%;
	/* restyle */
	background: hsla(var(--fg-h, 0),0%,100%,.1);
	background: hsla(var(--new-fg-h),25%,100%,.1);
	color: inherit;
	padding: calc(.5 * var(--spacer, 1rem)) 1em;

	/* extra style */
	accent-color: currentColor;
	border-radius: .5rem;
	margin-block-start: var(--spacer, 1rem);
}

input:focus {
	outline: 1px solid;
	border-radius: 0;
}
