@import 'floor-typography-css/src/reset.css';
@import 'floor-typography-css/src/normalize-style.css';

/* ## ROOT VARIABLES */

:root {
	--added-lead: .6;
	--rlh: calc(1rem * (1 + var(--added-lead))); /* Root line-height */
	--spacer: var(--rlh, 1rem); /* Adjusts vertical rhythm */

	/* Font-families */
	--system-font: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
	--mono-font: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace; /* Mono elements' fonts are set to --mono-font */
}

/* ## STYLING */

:root {
	font-family: var(--system-font);
}

body {
	margin: 0;
}

/* Global colors */

:root {
	background: hsl(0,0%,7.5%);
}

body {
	color: hsl(0,0%,95%); /* Set color on body (not root) for color-scheme cycling. */
}

/* Font sizes */

h1, h2, h3, h4, h5, h6 {
	font-size: 1em;
}

small { font-size: .8em; }

/* Links */

a { color: inherit; }

/* Lists */

ol, ul {
	padding-inline-start: 2em;
}

/* Blockquote */

blockquote {
	--blockquote-border-size: calc(var(--spacer, 1rem) * .1);
	margin-inline-start: 0;
	margin-inline-end: 0;
	padding-inline-start: calc(var(--spacer, 1em) - var(--blockquote-border-size));
	border-left: var(--blockquote-border-size) solid;
}

/* Code blocks */

code { font-size: .95em; }
pre code { font-size: .875em; }
