@import 'floor-typography-css/src/reset.css';
@import 'floor-typography-css/src/normalize-style.css';

:root {
	--added-lead: .6;
	--rlh: calc(1rem * (1 + var(--added-lead))); /* Root line-height */
	--spacer: 1rem;
	--system-font: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
	--mono-font: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace; /* Mono elements' fonts are set to --mono-font */
	--fg-h: 0;
	--fg-s: 0%;
	--fg-l: 95%;
	--fg: hsl(var(--fg-h),var(--fg-s),var(--fg-l));
	--bg: hsl(0,0%,7.5%);

	font-family: var(--system-font);
	background: var(--bg);
	transition: background 1s;
}

body {
	color: var(--fg); /* Set color on body (not root) for color-scheme cycling. */
	margin: 0;
	padding: var(--spacer, 1rem);
}

a {
	color: inherit;
}

a[aria-current] {
	text-decoration: none;
	text-decoration: line-through;
}

h1,h2,h3,h4,h5,h6 { font-size: 1em; }
small { font-size: .8em; }
code { font-size: .95em; }
pre code { font-size: .875em; }

ol, ul { padding-inline-start: 2em; }

/* Blockquote */

blockquote {
	--blockquote-border-size: calc(var(--spacer, 1rem) * .1);
	margin-inline-start: 0;
	margin-inline-end: 0;
	padding-inline-start: calc(var(--spacer, 1em) - var(--blockquote-border-size));
	border-left: var(--blockquote-border-size) solid;
}
