*, ::before, ::after {
	/* Background images are not repeated. */
	background-repeat: no-repeat;
	/* Border-box so size includes border and padding, and border doesn't hide text */
	box-sizing: border-box;
}

/* `::before`/`::after` inherits border-radius. */
::before, ::after { border-radius: inherit; }

:root {
	/* Words are automatically hyphenated to fit narrow widths. */
	hyphens: auto;
	/* Words break for no x-axis scrolling (use this, not `word-break`). */
	overflow-wrap: break-word;
	/* Prevent adjustment of font-size after Ios orientation change. */
	-webkit-text-size-adjust: 100%;
}
