/* CONTAIN OVERFLOW-X */

:root {
	/* Words are automatically hyphenated to fit narrow widths. */
	hyphens: auto;
	/* Words break for no x-axis scrolling (use this, not `word-break`). */
	overflow-wrap: break-word;
}

*, ::before, ::after {
	/* Border-box so size includes border and padding, and border doesn't hide text */
	box-sizing: border-box;
}

img, svg, video, canvas, audio, iframe, embed, object {
	/* Remove space-below in case authors overwrite the display value. */
	vertical-align: middle;
	/* Responsive by default. */
	max-width: 100%;
}

/* Responsive by default. */
img, svg, video, canvas { height: auto; }

/* Wrap pre-formatted text by default. */
:where(pre) { white-space: pre-wrap; }
