/* CONTAIN OVERFLOW & LINE HEIGHT */

:root {
	/* Words are auto hyphenated to fit narrow widths. */
	hyphens: auto;
	/* Words break for no x-axis scrolling (use this, not `word-break`). */
	overflow-wrap: break-word;
	/* Prevent adjustment of font-size after Ios orientation change. */
	-webkit-text-size-adjust: 100%;
	/* [Consistent line-spacing for inline, different line-heights](//drafts.csswg.org/css-inline-3/#line-sizing-property). */
	line-sizing: normal;
}

*, ::before, ::after {
	/* Border-box so size includes border and padding, and border doesn't hide text */
	box-sizing: border-box;
}

img, svg, video, canvas, audio, iframe, embed, object {
	/* Remove space-below in case authors overwrite the display value. */
	vertical-align: middle;
	/* Responsive by default. */
	max-width: 100%;
}

/* Responsive by default. */
img, svg, video, canvas { height: auto; }

/* Wrap pre-formatted text by default. */
pre { white-space: pre-wrap; }

/* Prevent `<sub>`/`<sup>` from affecting line height. */
sub, sup { line-height: 0; }

/* FIX SEMANTIC STYLING */

/* Always `bolder` font weight for `strong` text (Chrome/Edge/Safari). */
strong { font-weight: bolder; }

/* FIX FONTS & EXTEND */

/* Fix font inheritance for preformatted text and add optional font-family variable. */
/* Normalize inline mono-font size for all browsers. */
pre, code, kbd, samp {
	--_f: var(--mono-font, monospace);
	font-family: var(--_f),var(--_f);
	font-size: 1em;
}

/* FIX USABILITY */

/* Consistent mouse interaction with clickable elements for usability. */
button, summary { cursor: pointer; }
