/* INTUITIVE UNIVERSAL RULES */

*, ::before, ::after {
	/* Border-box so size includes border and padding, and border doesn't hide text */
	box-sizing: border-box; }

:root {
	/* Prevent adjustment of font-size after Ios orientation change. */
	-webkit-text-size-adjust: 100%;
	/* Auto hyphens when words break and for more soft wrap opportunities. */
	hyphens: auto;
	/* Word breaks in narrow containers---uses soft wrap opportunities if present. */
	overflow-wrap: anywhere; }

/* FIX/EXTEND FONT/TEXT */

code, kbd, samp, sub, sup {
	/* No auto hyphens where a hyphen could mess up text meaning. */
	hyphens: manual;
	/* Avoid elements affecting line height (some when bigger font-size), but keep some line-height. */
	line-height: .625; }

b, strong {
	/* Semantic `bolder` font weight for `strong` text (Chrome/Safari). */
	font-weight: bolder; }

::file-selector-button, button, input, select, textarea {
	/* Avoid `input`/`textarea` cause zoom when on focus (Ios). `1em` for others for consistency. */
	font-size: 1em; }

abbr, hr {
	/* Reset `abbr` since no universal functionality. */
	/* Reset `hr` for normalizing. */
	all: unset; }

hr {
	/* Re-set `block`. */
	display: block;
	/* Set a proper spacing. */
	height: 1em;
	/* Non-flow disrupting horizontal rule. */
	background: center left/100% 1px no-repeat linear-gradient(
		currentColor, currentColor
	); }

/* MAKE ELEMENTS RESPONSIVE */

input, select, textarea,
audio, embed, iframe, object,
img, svg, video, canvas {
	/* Avoid elements overflowing. */
	max-width: 100%; }
img, svg, video, canvas {
	/* ...then auto calculate height for necessary elements to avoid stretch. */
	height: auto; }

pre {
	/* Wrap pre-formatted text to avoid overflowing. */
	white-space: pre-wrap; }

textarea {
	/* Only resize vertically for a11y and avoid overflowing. */
	resize: vertical; }

/* DISPLAY BEHAVIORS */

[hidden],
source {
	/* `hidden` elements better maintain behaviour when `display` values are defined. */
	/* `source` has nothing to display and should not display (polyfill). */
	display: none; }

picture {
	/* Remove wrapping `picture`---maintaining content. Can interfere with layout and aspect-ratio (polyfill). */
	display: contents; }

/* CONSISTENT ALIGNMENTS */

audio, embed, iframe, object,
img, svg, video, canvas {
	/* Remove layout disrupting space below elements. */
	vertical-align: middle; }

figure {
	/* Intuitive inline margins---aligns with other elements' default style. */
	margin-inline-start: 0; margin-inline-end: 0; }

/* CONSISTENT CURSOR */

[aria-disabled="true" i], [disabled], [readonly] {
	/* Consistent cursor for disabled elements */
	cursor: not-allowed; }

::file-selector-button, [role="button" i], [type="button" i], [type="reset" i], [type="submit" i], button,
select, summary {
	/* Consistent cursor for clickable elements. */
	cursor: pointer; }
