/* DEFORM FOR EASIER STYLING */

/* Remove body margin. */
body {
	margin: 0; }

/* Have `search` style-behave as textfield for easier styling. */
input[type="search" i] {
	-webkit-appearance: textfield; }

::file-selector-button, [type="button" i], [type="reset" i], [type="submit" i], button {
	/* Fix inability to style buttons (Ios?). */
	-webkit-appearance: button; }

::file-selector-button, button, input, select, textarea {
	/* Inherit `font-family` for consistency of all form related elements. */
	font-family: inherit;
	/* No unintentional `line-height` differences for consistent typography. */
	line-height: inherit; }
