/* MORE CONSISTENT CROSS-BROWSER STYLING */

/* Remove confusing body margin when doing styling. */
/* Remove the margin on form related elements (Safari). */
body,
button, input, select, textarea {
	margin: 0; }

/* Set `search` to textfield. */
input[type="search" i] {
	-webkit-appearance: textfield; }

/* Remove search cancel button. */
input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none; }

button, ::file-selector-button, [type="button" i], [type="reset" i], [type="submit" i] {
	/* Fix inability to style buttons (Ios and Safari). */
	-webkit-appearance: button;
	/* Cross-browser variable/`none` `border` . */
	border: none;
	/* Cross-browser variable/`unset` `box-shadow`. */
	box-shadow: unset;
	/* Cross-browser variable/`inherit` `line-height`. */
	line-height: inherit; }

::file-selector-button, button, input, textarea, select {
	/* Consistent, usable `border-radius`. */
	border-radius: .125em;
	/* Inherit font-family. */
	font-family: inherit; }
