/* CONVENIENT/INTUITIVE STYLING */

*, ::before, ::after {
	background-repeat: no-repeat;
	mask-repeat: no-repeat;
}

::before, ::after {
	border-radius: inherit;
	text-decoration: inherit;
	vertical-align: inherit;
}

/* REDUCE MOTION */

@media (prefers-reduced-motion: reduce) {
	*, ::before, ::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
