/* FOR EASIER STYLING */

*, ::before, ::after {
	/* Background images are not repeated. */
	background-repeat: no-repeat; }

::before, ::after {
	/* Inherit border-radius. */
	border-radius: inherit;
	/* Inherit text-decoration for `content`. */
	text-decoration: inherit;
	/* Inherit vertical alignment. */
	vertical-align: inherit; }

/* Variable for pre-formatted text font. */
code, kbd, samp, pre {
	--_f: var(--mono-font, monospace); font-family: var(--_f),var(--_f); }

/* FIXES FOR STYLING */

/* Fix inability to style buttons in Ios and Safari. */
::file-selector-button, [type="button" i], [type="reset" i], [type="submit" i], button {
	-webkit-appearance: button; }

/* `[hidden]` maintain behaviour when overriding `display` values. */
/* `audio` with no controls should not display. */
/* `source` has nothing to display and should not display. */
[hidden], audio:not([controls]), source {
	display:none; }

/* Remove unnecessary wrapping `picture`, while maintaining content. */
picture {
	display: contents; }

/* NORMALIZATION FOR EASIER CROSS-BROWSER STYLING */

/* Inherit font-family. */
::file-selector-button, button, input, textarea, select {
	font-family: inherit; }

/* Remove the margin on controls in Safari. */
button, input, select, textarea {
	margin: 0; }

/* Normalize all button types. */
::file-selector-button, button, [type="button" i], [type="reset" i], [type="submit" i] {
	border: none;
	border-radius: .125em;
	box-shadow: unset;
	line-height: inherit; }

/* Set `search` to textfield. */
input[type="search" i] {
	-webkit-appearance: textfield; }

/* Remove search cancel button. */
input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none; }

/* REDUCE MOTION */

/* Remove animations and transitions when user prefers it. */
@media (prefers-reduced-motion: reduce) {
	*, ::before, ::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important; }}
