/* INTUITIVE BEHAVIOUR FOR STYLING */

*, ::before, ::after {
	/* Background images are not repeated. */
	background-repeat: no-repeat;
}

/* `::before`/`::after` inherits more across browsers. */
::before, ::after {
	/* Inherit border-radius. */
	border-radius: inherit;
	/* Inherit text-decoration. */
  text-decoration: inherit;
	/* Inherit vertical alignment. */
  vertical-align: inherit; /* 2 */
}
