/* UNIVERSAL RULES & PREVENT OVERFLOW */

/* Border-box so size includes border and padding, and border doesn't hide text */
*, ::before, ::after {
	box-sizing: border-box; }

:root {
	/* Words break for no x-axis scrolling (use this, not `word-break`). */
	overflow-wrap: break-word;
	/* Words are auto hyphenated to fit narrow widths. */
	hyphens: auto;
	/* Prevent adjustment of font-size after Ios orientation change. */
	-webkit-text-size-adjust: 100%; }

/* FURTHER PREVENT OVERFLOW */

/* Wrap pre-formatted text by default. */
pre {
	white-space: pre-wrap; }

/* Make elements responsive. */
audio, embed, iframe, object,
input, select, textarea,
img, svg, video, canvas {
	max-width: 100%; }
img, svg, video, canvas {
	height: auto; }

/* Only resize vertically (a11y and prevent overflow). */
textarea {
	resize: vertical; }

/* FIX/EXTEND FONT */

/* Don't auto hyphenate elements that could mess its contents meaning. */
/* For inline elements that can affect line height: fix while maintaining some line-height. */
code, kbd, samp, sub, sup {
	hyphens: manual;
	line-height: .625; }

/* Semantic `bolder` font weight for `strong` text (Chrome/Edge/Safari). */
b, strong {
	font-weight: bolder; }

/* Avoid `input`/`textarea` cause zoom when on focus (Ios). `1em` for others for consistency. */
::file-selector-button, button, input, select, textarea {
	font-size: 1em; }

/* DISPLAY BEHAVIORS */

/* `[hidden]` maintain behaviour when overriding `display` values. */
/* `source` has nothing to display and should not display (polyfill). */
[hidden], source {
	display:none; }

/* Remove wrapping `picture`---maintaining content. Can interfere with layout and aspect-ratio (polyfill). */
picture {
	display: contents; }

/* CONSISTENT ALIGNMENTS */

/* Remove layout disrupting space below. */
audio, embed, iframe, object,
img, svg, video, canvas {
	vertical-align: middle; }

/* Intuitive inline margins---horizontal align with adjacent. */
figure, hr {
	margin-inline-start: 0; margin-inline-end: 0; }

/* CONSISTENT CURSOR */

/* Consistent cursor for disabled elements */
[aria-disabled="true" i], [disabled], [readonly] {
	cursor: not-allowed; }

/* Consistent cursor for clickable elements. */
::file-selector-button, [role="button" i], [type="button" i], [type="reset" i], [type="submit" i], button,
select, summary {
	cursor: pointer; }
