/* PREVENT OVERFLOW */

*, ::before, ::after {
	/* Border-box so size includes border and padding, and border doesn't hide text */
	box-sizing: border-box; }

:root {
	/* Words break for no x-axis scrolling (use this, not `word-break`). */
	overflow-wrap: break-word;
	/* Words are auto hyphenated to fit narrow widths. */
	hyphens: auto;
	/* Prevent adjustment of font-size after Ios orientation change. */
	-webkit-text-size-adjust: 100%; }

/* Wrap pre-formatted text by default. */
pre {
	white-space: pre-wrap; }

/* Make elements responsive. */
img, svg, video, canvas, audio, iframe, embed, object,
input, select, textarea {
	max-width: 100%;
	height: auto; }

/* FIX/EXTEND FONT */

/* Semantic `bolder` font weight for `strong` text (Chrome/Edge/Safari). */
strong {
	font-weight: bolder; }

/* Prevent inline elements from affecting line height while having line-height. */
code, kbd, samp, sub, sup {
	line-height: .625; }

/* Avoid `input`/`textarea` cause zoom when on focus (Ios). `1em` for others for consistency. */
::file-selector-button, button, input, select, textarea {
	font-size: 1em; }

/* UNIFORM ALIGNMENT & SPACING */

/* Intuitive inline margins---horizontal align with adjacent. */
figure, hr {
	margin-inline-start: 0; margin-inline-end: 0; }

/* Remove unintended space below. */
img, svg, video, canvas, audio, iframe, embed, object {
	vertical-align: middle; }

/* CONSISTENT CURSOR */

/* Consistent mouse interaction with clickable elements. */
::file-selector-button, [type="button" i], [type="reset" i], [type="submit" i], button, select, summary {
	cursor: pointer; }

/* Consistent cursor for disabled elements */
[aria-disabled="true" i], [disabled], [readonly] {
	cursor: not-allowed; }

/* REDUCE MOTION */

/* Remove animations and transitions when user prefers it. */
@media (prefers-reduced-motion: reduce) {
	*, ::before, ::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important; }}
