/* FORM SIMPLER FORMS */

fieldset {
	all: unset;
}

/* Remove the margin on form related elements (Safari). */
::file-selector-button, button, input, select, textarea {
	margin: 0; }

/* Remove search cancel button. */
input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none; }
