/* FORM SIMPLER FORMS */

/* Have `search` style-behave as textfield for easier styling. */
input[type="search" i] {
	-webkit-appearance: textfield; }

::file-selector-button, button, input, select, textarea {
	/* Inherit `font-family` for consistency of all form related elements. */
	font-family: inherit;
	/* No unintentional `line-height` differences for consistent typography. */
	line-height: inherit; }

fieldset {
	/* Remove border. */
	border: none;
	/* No inline margin, normal block margin. */
	margin: 1em 0;
	/* Remove padding. */
	padding: 0; }

/* Intuitive DX margins on form related elements (Safari). */
select, textarea {
	margin: 0; }
[type="button" i], [type="reset" i], [type="submit" i], button {
	margin-inline: 0; }
/* ...keep `margin-inline-end` for upload button. */
[type="checkbox" i], [type="radio" i],
::file-selector-button {
	margin-block: 0;
	margin-inline-start: 0; }

/* Remove search cancel button. */
input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none; }
