/* Consistent block margins for some block-level elements. */
address, datalist, details, fieldset, pre, table,
canvas, embed, figure, iframe, object, video,
dl, ol, ul,
h1, h2, h3, h4, h5, h6,
blockquote, p {
	margin-block-start: var(--spacer, 1rem);
	margin-block-end: var(--spacer, 1rem);
}

/* Remove block margin for some children that shouldn't disrupt vertical flow. */
ol ol, ol ul, ul ol, ul ul {
	margin-block-start: 0;
	margin-block-end: 0;
}

hr {
	/* `background-image` so size can be set. */
	background-image: linear-gradient(currentColor, currentColor);
	/* `background-size` to 1px height and 100% width. */
	background-size: 100% 1px;
	/* Remove border to not affect vertical rhythm. */
	border: none;
	/* Remove Firefox `color: gray`. */
	color: inherit;
	/* Correct box sizing (Firefox). */
	height: calc(.1 * var(--spacer, 1rem));
	/* Double block spacing, remove margin-inline `auto` (to not be centered by default). */
	margin: calc(2 * var(--spacer, 1rem)) 0 calc(1.9 * var(--spacer, 1rem));
}
