/* Consistent block margins for the needed block-level elements. */
address, datalist, details, fieldset, pre, table,
canvas, embed, figure, iframe, object, video,
dl, ol, ul,
h1, h2, h3, h4, h5, h6,
blockquote, p {
	margin-block-start: var(--space, 1rem);
	margin-block-end: 0;
}

/* Remove block margin for children that shouldn't disrupt vertical flow. */
ol ol, ol ul, ul ol, ul ul {
	margin-block-start: 0;
}

/* Style `hr` to match space */
hr {
	/* Remove border to not affect vertical rhythm. */
	border: none;
	/* Use box-shadow as border to not distrupt vertical rhythm */
	box-shadow: 0 -1px;
	/* Remove Firefox `color: gray`. */
	color: inherit;
	/* Normalize box sizing (Firefox). */
	height: calc(2 * var(--space, 1rem));
	/* Spacing, remove margin-inline `auto` (to not be centered by default). */
	margin: calc(2 * var(--space, 1rem)) 0 0;
}
