/* THE MINIMAL BROWSER CSS FIX */

*, ::before, ::after {
	/* Border-box is expected. */
	box-sizing: border-box;
}

:root {
	/* Auto hyphenate words for narrow viewports. */
	hyphens: auto;
	/* Break words for no x-axis scrolling (use this, not `word-break`). */
	overflow-wrap: break-word;
	/* Prevent adjustment of font-size after Ios orientation change. */
	-webkit-text-size-adjust: 100%;
}
