:where(
	*, ::before, ::after
) {
	/* Border-box so size includes border and padding, and border doesn't hide text */
	box-sizing: border-box;
}

:where(
	:root
) {
	/* Prevent adjustment of font-size after Ios orientation change. */
	-webkit-text-size-adjust: 100%;
	/* Auto hyphens when words should and can break. */
	hyphens: auto;
	/* Word breaks in narrow containers---uses soft wrap opportunities if present. */
	overflow-wrap: anywhere;
}

:where(
	code, kbd, samp, sub, sup
) {
	/* No auto hyphens where a hyphen could mess up text meaning. */
	hyphens: manual;
	line-height: .625;
}

:where(
	b, strong
) {
	font-weight: bolder;
}

:where(
	::file-selector-button, button, input, select, textarea
) {
	font-size: 1em;
}

:where(
	input, select, textarea,
	audio, embed, iframe, object,
	img, svg, video, canvas
) {
	max-width: 100%;
}
:where(
	img, svg, video, canvas
) {
	height: auto;
}

:where(
	pre
) {
	white-space: pre-wrap;
}

:where(
	textarea
) {
	resize: vertical;
}

[hidden],
:where(
	source
) {
	display: none;
}

:where(
	picture
) {
	display: contents;
}

:where(
	audio, embed, iframe, object,
	img, svg, video, canvas
) {
	vertical-align: middle;
}

:where(
	figure, hr
) {
	margin-inline: 0;
}

:where(
	[aria-disabled="true" i], [disabled], [readonly]
) {
	cursor: not-allowed;
}

:where(
	::file-selector-button, [role="button" i], [type="button" i], [type="reset" i], [type="submit" i], button,
	select, summary
) {
	cursor: pointer;
}
